@font-face {
  font-family: "ColumbinaAltCap";
  src: url("./fonts/columbinaaltcap.eot"); /* IE9 Compat Modes */
  src: url("./fonts/columbinaaltcap.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/columbinaaltcap.otf") format("opentype"), /* Open Type Font */
    url("./fonts/columbinaaltcap.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/columbinaaltcap.woff") format("woff"), /* Modern Browsers */
    url("./fonts/columbinaaltcap.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Slavianskiy-Regular";
  src: url("./fonts/slavianskiy.eot"); /* IE9 Compat Modes */
  src: url("./fonts/slavianskiy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/slavianskiy.otf") format("opentype"), /* Open Type Font */
    url("./fonts/slavianskiy.svg") format("svg"), /* Legacy iOS */
    url("./fonts/slavianskiy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/slavianskiy.woff") format("woff"), /* Modern Browsers */
    url("./fonts/slavianskiy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Slavianskiy-Regular" !important;
}

/* body {
  margin-bottom: 60px;
}

.navbar-brand {
  color: #ffbe00 !important;
  font-weight: bold;
  padding: 0;
  margin-bottom: -6px;
}
.navbar-brand:hover {
  color: #fff !important;
}
.navbar-brand img {
  height: 32px;
  position: relative;
  top: -4px;
  width: 108px;
}
.navbar li {
  margin: 0 20px;
}

footer {
    background-color: #888;
    bottom: 0;
	color: rgba(0, 0, 0, 0.9);
    height: 60px;
    line-height: 60px;
	position: absolute;
    text-align: center;
    width: 100%;
} */

#start {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: #000;
	color: #4fe084;
}

svg * {
	fill: none;
	stroke: currentColor;
}

#loader {
	width: 500px;
	margin-top: 80px;
	/* stroke: #f9f9f9;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10; */
	cursor: pointer;
	transition: 1s;
}
#loader:hover {
	width: 600px;
	color: #2A9FD6;
}

@media (max-width: 767px) {
	#loader { width: 100%; max-height: 300px; }
}

@media (min-width: 481px) and (max-width: 767px) {
	#loader { width: 100%; max-height: 300px; }
}

@media (max-width: 480px) {
	#loader { width: 100%; max-height: 260px; }
}

#video {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	display: none;
	/* hack for 1080 https://stackoverflow.com/a/49797759 */
	width: 200%; 
	height: 200%;
	transform: scale(0.5);
	transform-origin: left top;
}

#map {
	position: fixed !important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	display: none;
}

#myth-page {
	z-index: 3;
	position: fixed;
	top: 0;
	left: 15%;
	height: 100%;
	width: 70%;
	font-size: 3rem;
	background: #0000006e;
	color: #fff;
	padding: 0.5rem;
}

#video-layer-block {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
}

#sound {
	z-index: 4;
	position: fixed;
	bottom: 1rem;
	left: 15%;
	opacity: 0.5;
	width: 70%;
	height: 110px;
	transition: 1s;
}
#sound:hover {
	opacity: 1;
}
#sound.invis {
	opacity: 0;
}

#btns {
	position: fixed;
    right: 0;
    top: 1rem;
    z-index: 4;
}

#map-myths-btn {
	z-index: 3;
	position: fixed;
	bottom: 9rem;
	left: 45%;
	display: none;
}

#fullscreen-in-btn, #fullscreen-out-btn, #music-off-btn, #music-on-btn, #map-myths-menu-btn, #authors-btn, #about-btn, #map360-btn, #stats-btn, #test-btn, #arch-photos-btn, #places-power-btn, #donate-btn {
	display: none;
	margin: 0 1rem;
	z-index: 4;
}

a[href^="https://maps.google.com/maps"]{display:none!important}.gmnoprint a,.gmnoprint span,.gm-style-cc{display:none}.gmnoprint div{background:none!important}

#team {
	position: fixed !important;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;
	display: none;
}
#team .team-block {
    width: 100%;
    float: left;
}
#team .team-profile {
    width: 560px;
    margin: 50px auto;
}
#team .team-photo {
	float: left;
}
#team .team-photo img {
	width: 150px;
}
#team .team-description {
	float: left;
	padding-left: 1rem;
}
#team .team-description p {
	font-size: 1.5rem;	
}
#team .team-links {
	display: block;
	float: left;
}
#team .team-links ul {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
#team .team-links ul li {
	float: left;
	font-size: 2rem;
	margin: 0 0.5rem;
}
#team .team-links ul li a {
	text-decoration: none;	
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9bmy7e');
  src:  url('fonts/icomoon.eot?9bmy7e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9bmy7e') format('truetype'),
    url('fonts/icomoon.woff?9bmy7e') format('woff'),
    url('fonts/icomoon.svg?9bmy7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute:before {
  content: "\e905";
}
.icon-globe:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 86px;
  top: 12px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #4fe084;
  width: 28px;
  height: 56px;
  border-radius: 800%;
  -webkit-transform-origin: 14px 88px;
  transform-origin: 14px 88px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
#loading {
	position: fixed;
	z-index: 10;
	width: 100%;
}
#loading .lds-spinner {
    margin: 15% auto;
    width: 200px;
    display: block;
}

#logo {
	z-index: 5;
	position: fixed;
	top: 20px;
	margin-bottom: 0;
	text-align: center;
	width: 100%;
}
#logo h1 {
	line-height: 1;
	font-family: "ColumbinaAltCap";
}
#logo span {
	font-size: 1.7rem;
	line-height: 0.8;
	color: #2a9fd6;
}

#yaga, #puschevik, #vodyanoi, #zazovka, #ulya, #leshij, #liho, #pasechnik, #rusalki, #vegetandry, #kamen-sledovik, #kamen-zhertvennik, #kamen-sledovik {
	display: none;
}

/* 4fe084 2a9fd6 */
.gm-style img[src*="icon"] {
	border: 2px solid #2a9fd6 !important;
	border-radius: 30px !important;
}

#about {
	display: none;
	width: 80%;
	margin: 5rem auto;
	font-size: 1.5rem;
}

#add-menu {
	position: fixed;
    right: 0.5rem;
    bottom: 1rem;
    z-index: 5;
}

#langs {
	display: inline-block;
}
#langs img {
	border-radius: 0.3rem;
	cursor: pointer;
    height: 2rem;
    width: 3rem;
    margin: 0 0.5rem;	
}

#stats {
	background: rgb(14, 36, 47);
	display: none;
}
#stats > div {
	margin: 0px auto;
	position: relative;
	height: 0px;
	overflow: hidden;
	max-width: 816px;
	padding-bottom: 2900px;
	z-index: 2;
}
#stats iframe {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
	max-width: 816px;
}

#test {
	/* background: rgb(14, 36, 47); */
	display: none;
}
#test iframe {
	display: block;
	margin: 80px auto;
	border: 0px;
	width: 100%;
	height: 600px;
	max-width: 800px
}

#photo {
	display: none;
}
#photo img {
	width: 100%;	
}
#photo h2 {
	text-align: center;
}

#donate {
	display: none;
	width: 80%;
	margin: 5rem auto;
	font-size: 1.5rem;
}
#donate #sponsors {
	float: left;
	margin: 2rem 0 4rem 0;
	text-align: center;
	width: 100%;
}
#donate #sponsors h4 {
	margin-bottom: 2rem;
}
#donate .sponsor-profile {
	float: left;
    margin: 0 auto;
	padding: 0 1rem;
    width: 20%;
}
#donate .sponsor-profile img {
	margin-bottom: 1rem;
	width: 181px;
}
#donate .sponsor-profile p {
	font-size: 1.5rem;	
}
#donate #sponsors ul {
	/* list-style: none; */
	padding: 0;
	margin: 0;
}
#donate #sponsors ul li {
    display: inline-block;
	font-size: 1.4rem;
	margin: 0 0.5rem;
}
#donate #sponsors ul li a {
	text-decoration: none;	
}